.custom-table > thead {
	background-color: #163e72;
}
.custom-table > thead tr th {
	background-color:#163e72!important;
	color:#FFF!important;
	font-family:"Lato Regular"!important;
	font-size:.75rem!important;
	padding: 7.5px 15px;
	text-align:left;
}
.custom-table > tbody > tr > td {
	background-color:#FFF!important;
	color:#210D3B!important;
	font-family:"Lato Medium"!important;
	font-size:.7rem!important;
	padding:.5rem .25rem!important;
	text-align:left;
	vertical-align:middle!important;
}